///**** Rofi matugen color theme ****///

* {
    background: {{colors.surface.default.rgba}};
    background-alt: {{colors.surface_container.default.rgba}};
    foreground: {{colors.on_surface.default.rgba}};
    selected: {{colors.primary.default.rgba}};
    hover: {{colors.primary.default.rgba | set_alpha: 0.2}};
    active: {{colors.tertiary.default.rgba}};
    urgent: {{colors.error.default.rgba}};
}
