/* --- matugen gtk4-colors.css --- */

@define-color accent_color #a0cafd;
@define-color accent_fg_color #001d36;
@define-color accent_bg_color #a0cafd;
@define-color window_bg_color #f8f9ff;
@define-color window_fg_color #191c20;
@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color popover_bg_color @window_bg_color;
@define-color popover_fg_color @window_fg_color;
@define-color view_bg_color @window_bg_color;
@define-color view_fg_color @window_fg_color;
@define-color card_bg_color @window_bg_color;
@define-color card_fg_color @window_fg_color;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_border_color @border;
@define-color button #e1e2e8;
@define-color border #a0cafd80;
@define-color accent_hover_glass color-mix(in srgb, @accent_bg_color 15%, transparent);
@define-color accent_selected_glass color-mix(in srgb, @accent_bg_color 30%, transparent);