/* --- Import Colors--*/
@import "colors/wallpaper.css";

popover {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

popover > contents,
popover > arrow {
    background-color: @window_bg_color;
    color: @window_fg_color;
    border: 1px solid @border;
}

window.dialog,
.message-dialog {
    background-color: @window_bg_color;
    color: @window_fg_color;
    border: 1px solid @border;
}

modelbutton,
window.dialog label,
.message-dialog label,
.message-dialog .title,
.message-dialog .body {
    color: @window_fg_color;
}

.navigation-sidebar > row:hover,
flowboxchild:hover,
gridview > child:hover,
listview > row:hover,
columnview > row:hover,
headerbar button:hover,        
modelbutton:hover,              
popover.menu button:hover {
    background-color: @accent_hover_glass;
}

headerbar windowcontrols button:hover {
    background-color: transparent;
    box-shadow: none;
}

.navigation-sidebar > row:selected,
flowboxchild:selected,
gridview > child:selected,
listview > row:selected,
columnview > row:selected,
button:checked,
button.toggle:checked {
    background-color: @accent_selected_glass;
    color: @window_fg_color;
}

window.dialog button,
.message-dialog button {
    background-color: @button;
    color: @window_fg_color;
    border: none;
}

window.dialog button:hover,
.message-dialog button:hover {
    background-color: @accent_hover_glass;
    color: @window_fg_color;
}

window.dialog button:active,
.message-dialog button:active {
    background-color: @accent_selected_glass;
    color: @window_fg_color;
}