@define-color bar_bg #222d32;
@define-color bar_fg #b8c2c6;
@define-color module_bg alpha(#29353b, 0.72);
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#00bcd4, 0.92);
@define-color hover_fg #222d32;
@define-color border_color @hover_bg;
@define-color special alpha(#21ff90, 0.92);
@define-color special_fg #222d32;
@define-color power #ff4b60;
@define-color primary #00bcd4;
@define-color tray alpha(#21ff90, 0.72);