@define-color bar_bg #000000;
@define-color bar_fg #ffffff;
@define-color module_bg alpha(#101010, 0.72);
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#62aeef, 0.92);
@define-color hover_fg #000000;
@define-color border_color @hover_bg;
@define-color special alpha(#98c379, 0.92);
@define-color special_fg #000000;
@define-color power #e06b74;
@define-color primary #62aeef;
@define-color tray alpha(#98c379, 0.72);