@define-color bar_bg #1e1d2f;
@define-color bar_fg #d9e0ee;
@define-color module_bg alpha(#282839, 0.72);
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#7aa2f7, 0.92);
@define-color hover_fg #1e1d2f;
@define-color border_color @hover_bg;
@define-color special alpha(#abe9b3, 0.92);
@define-color special_fg #1e1d2f;
@define-color power #f28fad;
@define-color primary #7aa2f7;
@define-color tray alpha(#abe9b3, 0.72);