@define-color bar_bg #1e1f29;
@define-color bar_fg #ffffff;
@define-color module_bg alpha(#282a36, 0.72);
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#bd93f9, 0.92);
@define-color hover_fg #1e1f29;
@define-color border_color @hover_bg;
@define-color special alpha(#50fa7b, 0.92);
@define-color special_fg #1e1f29;
@define-color power #ff5555;
@define-color primary #bd93f9;
@define-color tray alpha(#50fa7b, 0.72);