@define-color bar_bg #f4f6f3;
@define-color bar_fg #4a4a4a;
@define-color module_bg alpha(#e9ede6, 0.72);
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#3a6b57, 0.92);
@define-color hover_fg @bar_bg;
@define-color border_color @hover_bg;
@define-color special alpha(@hover_bg, 0.92);
@define-color special_fg @bar_bg;
@define-color power #d66161;
@define-color primary #3a6b57;
@define-color tray alpha(@hover_bg, 0.72);