@define-color bar_bg #323d43;
@define-color bar_fg #dad1be;
@define-color module_bg alpha(#3c474d, 0.72);
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#7fbbb3, 0.92);
@define-color hover_fg #323d43;
@define-color border_color @hover_bg;
@define-color special alpha(#a7c080, 0.92);
@define-color special_fg #323d43;
@define-color power #e67e80;
@define-color primary #7fbbb3;
@define-color tray alpha(#a7c080, 0.72);