@define-color bar_bg #282828;
@define-color bar_fg #ebdbb2;
@define-color module_bg alpha(#353535, 0.72);
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#83a598, 0.92);
@define-color hover_fg #282828;
@define-color border_color @hover_bg;
@define-color special alpha(#b8bb26, 0.92);
@define-color special_fg #282828;
@define-color power #fb4934;
@define-color primary #83a598;
@define-color tray alpha(#b8bb26, 0.72);