@define-color bar_bg #f5f5f7;
@define-color bar_fg #4c4c6d;
@define-color module_bg alpha(#e8e8ed, 0.72);
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#9575cd, 0.92);
@define-color hover_fg #ffffff;
@define-color border_color #b39ddb;
@define-color special alpha(#80cbc4, 0.92);
@define-color special_fg @bar_fg;
@define-color power #ef9a9a;
@define-color primary #9575cd;
@define-color tray alpha(#80cbc4, 0.72);