@define-color bar_bg #1d1f28;
@define-color bar_fg #fdfdfd;
@define-color module_bg alpha(#282a36, 0.72);
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#79e6f3, 0.92);
@define-color hover_fg #1d1f28;
@define-color border_color @hover_bg;
@define-color special alpha(#5adecd, 0.92);
@define-color special_fg #1d1f28;
@define-color power #f37f97;
@define-color primary #79e6f3;
@define-color tray alpha(#5adecd, 0.72);