@define-color bar_bg #021b21;
@define-color bar_fg #f2f1b9;
@define-color module_bg alpha(#0c252b, 0.72);
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#44b5b1, 0.92);
@define-color hover_fg #021b21;
@define-color border_color @hover_bg;
@define-color special alpha(#7cbf9e, 0.92);
@define-color special_fg #021b21;
@define-color power #c2454e;
@define-color primary #44b5b1;
@define-color tray alpha(#7cbf9e, 0.72);