@define-color bar_bg #2e3440;
@define-color bar_fg #e5e9f0;
@define-color module_bg alpha(#383e4a, 0.72);
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#81a1c1, 0.92);
@define-color hover_fg #2e3440;
@define-color border_color @hover_bg;
@define-color special alpha(#a3be8c, 0.92);
@define-color special_fg #2e3440;
@define-color power #bf616a;
@define-color primary #81a1c1;
@define-color tray alpha(#a3be8c, 0.72);