@define-color bar_bg #1e2127;
@define-color bar_fg #ffffff;
@define-color module_bg alpha(#282b31, 0.72);
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#61afef, 0.92);
@define-color hover_fg #1e2127;
@define-color border_color @hover_bg;
@define-color special alpha(#98c379, 0.92);
@define-color special_fg #1e2127;
@define-color power #e06c75;
@define-color primary #61afef;
@define-color tray alpha(#98c379, 0.72);