@define-color bar_bg #f1f1f1;
@define-color bar_fg #252525;
@define-color module_bg alpha(#e0e0e0, 0.72);
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#008ec4, 0.92);
@define-color hover_fg #ffffff;
@define-color border_color @hover_bg;
@define-color special alpha(#10a778, 0.92);
@define-color special_fg #ffffff;
@define-color power #c30771;
@define-color primary #008ec4;
@define-color tray alpha(#10a778, 0.72);