@define-color bar_bg #002b36;
@define-color bar_fg #839496;
@define-color module_bg alpha(#073642, 0.72);
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#2aa198, 0.92);
@define-color hover_fg @bar_bg;
@define-color border_color #b58900;
@define-color special alpha(#b58900, 0.92);
@define-color special_fg @bar_bg;
@define-color power #dc322f;
@define-color primary #2aa198;
@define-color tray alpha(#b58900, 0.72);
