@define-color bar_bg #15161e;
@define-color bar_fg #c0caf5;
@define-color module_bg alpha(#1a1b26, 0.72);
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#33467c, 0.92);
@define-color hover_fg #c0caf5;
@define-color border_color @hover_bg;
@define-color special alpha(#414868, 0.92);
@define-color special_fg #c0caf5;
@define-color power #f7768e;
@define-color primary #33467c;
@define-color tray alpha(#414868, 0.72);