/* waybar matugen colors */

@define-color bar_bg #fff9ee;
@define-color bar_fg #1e1b13;
@define-color module_bg alpha(#f4eddf, 0.72); 
@define-color module_fg @bar_fg;
@define-color hover_bg alpha(#6e5d0e, 0.92);
@define-color hover_fg #ffffff;
@define-color border_color #7c7767;
@define-color special alpha(#c5ecce, 0.92);
@define-color special_fg @module_fg;
@define-color power #ba1a1a;
@define-color primary #6e5d0e;
@define-color tray alpha(#c5ecce, 0.72);